# include i2c super-i/o driver, but not host-side (lpc) driver
CONFIG_SENSORS_NCT6775_CORE=y
CONFIG_SENSORS_NCT6775_I2C=y
CONFIG_SENSORS_NCT6775=n

# AMI Redfish Host Interface used by the board firmware inventory producer
CONFIG_USB_U_ETHER=y
CONFIG_USB_F_RNDIS=y
CONFIG_USB_CONFIGFS_RNDIS=y

# Network-backed virtual media
CONFIG_CIFS=y
